:root #dark {
    --background-color: #111111;
    --primary-color-1: #1C1C1C;
    --primary-color-2: #303339;
    --secondary-color: #26282c;
    --contrast-color: #FEE402;
    --secondary-contrast-color: #b8a800;
    --text-and-lines: antiquewhite;
    --secondary-text-and-lines: rgb(187, 185, 185);
    --opposite-text-and-lines: black;
    --text-disabled: #cfcfcf;
    --form-bg: #292929;
    --form-text-color: #8f8f8f;
    --submit-button-color: #dbc713;
    --submit-button-shadow: 0px 0px 21px -8px rgba(255, 255, 255, 1);
    --error-color: rgb(156, 0, 0);
}

:root #light {
    --background-color: #dbdbdb;
    --primary-color-1: #ced4da;
    --primary-color-2: #cdd1cd;
    --secondary-color: #adb5bd;
    --contrast-color: #3581b8;
    --secondary-contrast-color: #005379;
    --text-and-lines: rgb(0, 0, 0);
    --secondary-text-and-lines: rgb(46, 37, 37);
    --opposite-text-and-lines: rgb(255, 255, 255);
    --text-disabled: #cfcfcf;
    --form-bg: #292929;
    --form-text-color: #2b2b2b;
    --submit-button-color: #38729b;
    --error-color: rgb(247, 57, 57);
    --submit-button-shadow: 0px 0px 12px 1px rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #303339;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

body {
    width: 100%;
    height: 100%;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0b090a', endColorstr='#061e1f', GradientType=0);
    overflow: auto;
}

.appContainer {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    color: var(--text-and-lines);
    align-items: center;
    min-height: 100vh;
}

@media screen and (min-width: 1024px) {
    .appContainer {
        flex-direction: row;
    }
}

.homeContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.yellow {
    color: var(--contrast-color);
    transition: all 0.5s;
}

.homeContainer hr {
    background-color: var(--text-and-lines);
    transition: all 0.5s;
}

.profileIcons {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.bigNavContainer {
    background-color: var(--primary-color-1);
    border-bottom: var(--text-and-lines) solid 1px;
    transition: all 0.5s;
}

.modeIcons {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.navIcons {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.navLink {
    background-color: var(--primary-color-2);
    transition: all 0.5s;
}

.navLink p {
    color: var(--text-and-lines);
}

.navLink::before {
    content: "";
    width: 100%;
    height: 8px;
    background-color: var(--contrast-color);
    position: absolute;
    animation: spinBorder 6s linear infinite;
    transition: all 0.5s;
}

.navLink::after {
    background: var(--secondary-color);
    transition: all 0.5s;
}

.sideNavLink {
    background-color: var(--primary-color-2);
    transition: all 0.5s;
}

.sideNavLink p {
    color: var(--text-and-lines);
    transition: all 0.5s;
}

.sideNavLink::before {
    background-color: var(--contrast-color);
    transition: all 0.5s;
}

.sideNavLink::after {
    background: var(--primary-color-2);
    transition: all 0.5s;
}

.navMenu {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.navClose {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.sideNavContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.switcherText {
    color: var(--form-text-color);
    transition: all 0.5s;
}

.slider {
    background-color: #FEE402;
    transition: all 0.5s;
}

.slider::before {
    background-color: var(--text-and-lines);
    transition: all 0.5s;
}

.slider {
    background-color: var(--contrast-color);
    transition: all 0.5s;
}

.descriptionContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.aboutLinksContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.aboutLinks {
    color: var(--text-and-lines);
    transition: all 0.5s;
}

.aboutLinkInfo a {
    color: var(--contrast-color);
    transition: all 0.5s;
}

.aboutLinkIcon {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.aboutInfoContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.aboutLenguageContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.aboutPoint {
    background-color: var(--text-and-lines);
    transition: all 0.5s;
}

.skillsContainer p {
    color: var(--text-and-lines);
    transition: all 0.5s;
}

.skillsIconsContainer:hover {
    background-color: var(--primary-color-2);
    transition: all 0.5s;
}

.portfolioContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.projectInfo {
    background-color: var(--primary-color-2);
    transition: all 0.5s;
}

.mainProjectInfo h3 {
    color: var(--text-and-lines);
    transition: all 0.5s;
}

.projectInfoIcon {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.projectLinkContainer:hover {
    background-color: var(--contrast-color);
    transition: all 0.5s;
}

.projectLinkContainer:hover p {
    color: var(--opposite-text-and-lines);
    transition: all 0.5s;
}

.projectLinkContainer:hover .projectInfoIcon {
    fill: var(--opposite-text-and-lines);
    transition: all 0.5s;
}

.projectLinkContainer p {
    color: var(--text-and-lines);
    transition: all 0.5s;
}

.contactMeIconsContainer {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.contactMeIconsContainer a {
    color: var(--contrast-color);
    transition: all 0.5s;
}

.contactMeIconsContainer a:hover {
    color: var(--secondary-contrast-color);
    transition: all 0.5s;
}

.contactMeIconsContainer a:hover .contactMeIconSvg {
    fill: var(--secondary-contrast-color);
    transition: all 0.5s;
}

.contactMeIconSvg {
    fill: var(--text-and-lines);
    transition: all 0.5s;
}

.contactForm {
    background-color: var(--primary-color-1);
    transition: all 0.5s;
}

.errorText {
    color: var(--error-color);
    transition: all 0.5s;
}

.contactInput {
    color: var(--form-bg);
    transition: all 0.5s;
}

.inputBox span {
    color: var(--form-text-color);
    transition: all 0.5s;
}

.inputBox i {
    background-color: var(--contrast-color);
    transition: all 0.5s;
}

.borderInput {
    border: var(--form-bg) solid 1px;
    transition: all 0.5s;
}

.borderTextarea {
    border: var(--form-bg) solid 1px;
    transition: all 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: var(--contrast-color);
    transition: all 0.5s;
}

.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
    color: var(--contrast-color);
    transition: all 0.5s;
}

.submitButton {
    color: var(--opposite-text-and-lines);
    background-color: var(--submit-button-color);
    box-shadow: var(--submit-button-shadow);
    transition: all 0.5s;
}

.submitButton:disabled {
    background-color: var(--form-bg);
    color: var(--text-disabled);
    transition: all 0.5s;
}

.contactModal {
    background-color: var(--primary-color-2);
}

.closeModalButton {
    background-color: var(--error-color);
    box-shadow: var(--submit-button-shadow);
    color: var(--text-and-lines);
}

@media screen and (min-width: 1024px) {
    .bigNavContainer {
        border-right: var(--text-and-lines) solid 1px;
        transition: all 0.5s;
    }
    .aboutLinks a:hover {
        color: var(--secondary-contrast-color);
        transition: all 0.5s;
    }
}